@import url("./main.css");
/* chart */

.chart{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 32px;
}
.chart .chart--view{
    width: 50%;
    margin-right: 26px;
    background-color: #FFF;
    border: 1px solid #FFF;
    min-height: calc(100vh - 477px);
    max-height: calc(100vh - 477px);

}
.chart .chart--view  canvas{
    width: 100%; 
    max-width: 600px; 
    height: 100%;
}
.chart .chart--form{
    width: 50%; 
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 4px;
    padding: 40px;
    min-height: calc(100vh - 477px);
    max-height: calc(100vh - 477px); 
}
.chart .chart--form .chart--form__data .data--name{
    position: relative;
}
.chart .chart--form .chart--form__data .data--ip{
    position: relative;
}
.chart .chart--form .chart--form__submit{
    display: flex;
    justify-content: center;
}
/* responsive */
@media only screen and (max-width: 576px){
   
    /* chart */
    .chart{
        display:block;
        padding-top: 0px;
    }
    .chart .chart--view{
        width: 100%;
        margin-bottom: 5px;
        height: 50vh;
        /* min-height:calc(50vh- 10px);
        max-height: calc(50vh- 10px); */
    }
   
    .chart .chart--form{
        width: 100%;
        min-height:50vh;
        padding: 5px 5px;
    }
}
