.input {
    height: 50px;
    background-color: #f9f4f4;
    border: 1px solid #f9f4f4;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 16px;
}

@media only screen and (max-width:576px){
    /* .input {
        height: 32px;
        background-color: #f9f4f4;
        border: 1px solid #f9f4f4;
        border-radius: 2px;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 5px;
    } */
}